*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.swp
*.sty
*.out
*.pdf
.ipynb_checkpoints/
latex/.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
hexNotes.bib
hex.synctex.gz
.DS_Store
hex.synctex(busy)
